In [9]:
# READ TABULAR DATA (ROWS & COLUMNS):
import pandas as pd

# Use pd.read_table to read the tabular data
pd.read_table('http://bit.ly/movieusers' , sep='|', header=None)

       0   1  2              3      4
0      1  24  M     technician  85711
1      2  53  F          other  94043
2      3  23  M         writer  32067
3      4  24  M     technician  43537
4      5  33  F          other  15213
..   ...  .. ..            ...    ...
938  939  26  F        student  33319
939  940  32  M  administrator  02215
940  941  20  M        student  97229
941  942  48  F      librarian  78209
942  943  22  M        student  77841

[943 rows x 5 columns]

In [11]:
# LIST OF STRINGS
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']

# DATAFRAME
user = pd.read_table('http://bit.ly/movieusers' , sep='|', header=None, names= user_cols)

In [12]:
user.head(10)

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

In [20]:
def format_color_groups(user):
  # LIST
    colors = ['gray', 'purple']
    x = user.copy()
    factors = list(x['gender'].unique())
    # INDEX
    i = 0
    # ITERATE
    for factor in factors:
        # .STYLE: FORMATTING
        style = f'background-color: {colors[i]}'
        # .LOC: SELECT ALL ROWS WHERE THE "GENDER" MATCHES CURRENT FACTOR
        x.loc[x['gender'] == factor, :] = style
        i = not i
    return x

# CALL IT
user.style.apply(format_color_groups, axis=None)

<ipython-input-20-0c8679e270d5>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'background-color: gray' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  x.loc[x['gender'] == factor, :] = style
<ipython-input-20-0c8679e270d5>:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'background-color: gray' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  x.loc[x['gender'] == factor, :] = style

![Screenshot 2025-05-29 at 01.33.15.png]()